<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EpiServerDB.Properties.Settings.EPiServerDB_c22e7d36ConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\EPiServerDB_c22e7d36.mdf;Initial Catalog=EPiServerDB_c22e7d36;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
        <add name="EpiServerDB.Properties.Settings.EPiServerDB_c22e7d36ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=EPiServerDB_c22e7d36;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>